@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
:root{
    --cor-principal: #2953A6;
    --cor-fonte: black;
    --cor-fundo: white;
    --cor-secundaria: #021F59;
    --cor-terciaria: #607EA6;
    --cor-quartenaria: #00065C;
}
header{
    display: grid;
    background-color: #021F59;
    box-shadow: 0px 3px 10px white;
}
.bx-medal{
    display: flex;
    margin-left: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
div{
    margin-top: 10px;
    text-align: center;
    border: 1px solid #2953A6;   
}
.margem{
    text-align: justify;
    margin-left: 25%;
    margin-right: 5%;
    height: 100px;
    margin-top: 2%;
}

.imagem{
    border-radius: 5%;
    margin: 1% ;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.tituloprincipal{
    margin-top: 11%;
    color: white;
}

.mobile-menu{
    display: none;
    background-color: #00065C;
    color: white;
 }
@media screen {
    .nav-bar{
        padding: 1.5rem;
        height: 70px;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
   .mobile-menu ul{
    font-family: 'Roboto', sans-serif white;
    display: flex;
    align-items: center;
    margin-left: 700px;
    width: 98%;
   }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .mobile-menu-icon{
        display: block;
        padding: 1rem ;
    }
    .mobile-menu .mobile-menu-icon button{
        width: 25%;
    }
}
.nav-item{
  margin: 0 15px;
  margin-bottom: 1rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}
.open{
    display: block;
}
.cortitulo2{
    color: white;
}


main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1.5fr;
    margin: 25px 100px 25px 100px;
    
    
}
.bx-menu{
    margin: 20px;
    font-size: 45px;
    color: white;

}
.bx-medal{
    margin: 20px;
    font-size: 45px;
    color: white;
}
p{
    font-size: 19px;
}
.cortitulo{
    color: #2953A6;
}
.tamanho{
 height: 100px;
}
.botao{
    text-align: center;
    color: beige;
    background-color: #607EA6;
    text-decoration: none;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 90px;
    border: 2px solid #607EA6 ;
    border-radius: 10px;
    
} 
.imagempropaganda{
    border-radius: 5%;
    margin-top: 60px;
}

.main-secundario{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    margin: 25px 100px 25px 100px;
}
.texto-secundario{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.color2{
    color: #021F59;
}
.imagem-secundaria{
    margin: 2%;
}
.iconj{
    margin-left: 70%;
    margin-top: 10%;
    height: 70px;
}
.redes img{
    height: 35px;
    filter: invert(1);
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    margin-top: 11%;
    color: white;
}
footer div{
    margin-left: 2%;
    margin-right: 2%;
}
