@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
:root{
    --cor-principal: #2953A6;
    --cor-fonte: black;
    --cor-fundo: white;
    --cor-secundaria: #021F59;
    --cor-terciaria: #607EA6;
}
header{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    background-color: #021F59;
    color: white;
}

div{
    margin-top: 10px;
    text-align: center;
    border: 1px solid #2953A6;
    
}
#margem{
    text-align: justify;
    margin-left: 25%;
    margin-right: 5%;
    height: 100px;
    margin-top: 2%;
}
#borda1{
    border: 1px solid black;
}
#imagem{
    border-radius: 5%;
    margin: 1% ;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
#tituloprincipal{
    margin-top: 1%;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr;
    margin: 25px 100px 25px 100px;
    
    
}
.bx-menu{
    margin: 20px;
    font-size: 45px;
    color: white;

}
.bx-medal{
    margin: 20px;
    font-size: 45px;
    color: white;
}
p{
    font-size: 19px;
}
#cortitulo{
    color: #2953A6;
}
#tamanho{
 height: 100px;
}